::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
}


/* Sidebar */
body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #292b2c;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    font-size: 16px;
}

.sidebar-link::after {
    content: none !important;
    display: none !important;
}

.custom-chevron {
    transition: transform 0.3s ease; 
}

.sidebar-link.collapsed .custom-chevron {
    transform: rotate(0deg); 
}

.sidebar-link[aria-expanded="true"] .custom-chevron {
    transform: rotate(-90deg);
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    display: inline-block;
}

.sidebar-link span {
    display: inline-block;
    line-height: 1.1rem;
    font-size: 16px;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #FFF;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Adjust for mobile view */
@media (max-width: 768px) {
    #sidebar {
        width: 0;
        min-width: 0;   
    }
    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

    #sidebar:not(.expand) .sidebar-link i {
        display: none; /* Hide icons when collapsed */
    }
}

/* Default toggle button style for mobile view */
@media (max-width: 768px) {
    .toggle-btn {
        background-color: transparent;
    }
    .toggle-btn i {
        color: black; /* Icon color change for expanded state */
    }
}

/* Expanded state - change background and icon color */
@media (max-width: 768px) {
    .toggle-btn.expanded {
        color: black; /* Change text and icon to white on expansion */
    }

    .toggle-btn.expanded i {
        color: white; /* Icon color change for expanded state */
    }

}

/* Added Dropdown Icon sa Select */
select.form-control {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

/* Custom Styles sa Toast */
.custom-toast-size {
    width: 350px;
    max-width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
}

.toast-body {
    font-size: 16px;
}

.toast-container {
    z-index: 1055;
}

.btn-close {
    font-size: 20px;
}

/* Added Scroll in the forms */
.form-container {
    max-height: 700px;
    overflow-y: auto;
    margin-bottom: 15px;
}

/* General Badge Styling */
.status-badge {
    padding: 0.5em 1em;
    border-radius: 15px;;
    font-weight: bold;
    font-size: 0.8em;
    display: inline-block;
    text-align: center;
    border: 2px solid;
}

.status-badge.pending {
    color: #ffa500;
    background-color: rgba(255, 165, 0, 0.2);
    border-color: #ffa500;
}

.status-badge.confirmed {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.2);
    border-color: #28a745;
}

.status-badge.cancelled {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.2);
    border-color: #dc3545;
}

.status-badge.finished {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.2);
    border-color: #007bff;
}

.status-badge.pencil {
    color: #6c757d;
    background-color: rgba(108, 117, 125, 0.2);
    border-color: #6c757d;
}

.status-badge.expired {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.2);
    border-color: #dc3545;
}

.table td, .table th{
    vertical-align: middle; /* Vertically center the text in table cells */
}

.admin-nav{
    border-bottom: 1px solid #F2F1EF; 
    background-color: #fff; 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    height: 60px; /* Set your desired height */
    line-height: 60px; /* Vertically align content */
}